:root {
  --color: ;
  //  ....

  --color-text-primary: black;
  --color-accent: ;
  --color-bg-button: ;
  --color-bg-sidebar: ;
  --color-bg-form: ;
  --color-bg-page: ;

  --radius-button: ;
  --radius-input: ;
  --radius-block: ;
  --radius-circle: 50%;

  --padding-button: ;
  --padding-form: ;
  --padding-block: ;
}
